@font-face {
    font-family: "Teko";
    src: url("assets/fonts/Teko/Teko-Regular.ttf");
}

#composition-button {
    background-color: olive;
    color: white;
    font-family: Teko, sans-serif;
    font-size: 20px;
}

#composition-button:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

#composition-menu {
    background-color: #242424ed;
    border-radius: 3px;
}
