@font-face {
  font-family: "Teko";
  src: url("assets/fonts/Teko/Teko-Regular.ttf");
}

@font-face {
  font-family: "Teko-SemiBold";
  src: url("assets/fonts/Teko/Teko-SemiBold.ttf");
}


:root {
  font-family: Teko, sans-serif;
  line-height: 2;
  font-weight: 400;
  font-size: 20px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  #toolbar {
    background-color: olive;


    #typography {
      font-family: Teko-SemiBold, sans-serif;
      font-size: 20px;
      text-align: left;
      padding-left: 30px;
    }
  }

  #login-logout {
    font-family: Teko, sans-serif;
    font-size: 20px;
  }



}

a {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.87);
  text-decoration: inherit;
  font-family: Teko, sans-serif;
  font-size: 20px;
}

a:hover {
  color: darkolivegreen;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: Teko-SemiBold, sans-serif;
  font-size: 50px;
  line-height: 1.1;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 30px;
}



