.sign-in-page {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;

    .chickadee-logo {
        width: 13%;
        position: absolute;
        top: 11%;
        left: 26%;
    }
}

h1 {
    padding-bottom: 2px;
}




